<div style="padding: 10px;">


  <div id="form" class="container col-sm-8">

    <div style="font-weight: 600; font-size: 1.2em; text-align: center; padding-top: 10px; padding-bottom: 10px;">
      Entertainment Event Ticket Search
    </div>

    <app-reactive-forms></app-reactive-forms>
  </div>

  <!--result button-->  <!--fav button-->
  <div class="container col-sm-2" style="margin: 15px auto 0px; text-align: center">
    <button *ngIf="favDisplay == true" (click)="showResultTable()"
            class="btn" style="background-color: white; color: #0069d9"> Results
    </button>
    <button *ngIf="favDisplay == false" (click)="showResultTable()" class="btn btn-primary"> Results</button>
    <button *ngIf="favDisplay == true" (click)="showFavTable()" class="btn btn-primary">Favorites</button>
    <button *ngIf="favDisplay == false" (click)="showFavTable()"
            class="btn" style="background-color: white; color: #0069d9">Favorites
    </button>
  </div>



  <!--progress bar-->
  <div *ngIf="processing" class="container col-sm-8"  style="margin-top: 120px;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated"
           role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
      </div>
    </div>
  </div>


  <!--alert bar-->
  <div *ngIf="someError" class="container col-sm-8"  style="margin-top: 120px;">
    <div class="alert alert-danger" role="alert">
      Failed to get search results.
    </div>
  </div>



  <!--big container for result container & detail container-->
  <!--only visible when fav is off-->
  <div *ngIf="favDisplay == false">
    <div class="container col-sm-8" style="margin-top: 50px;">
      <app-all-result></app-all-result>
    </div>
  </div>


  <!--fav container-->
  <!--only visible when fav is on-->
  <div *ngIf="favDisplay == true" id="fav-table-container" class="container col-sm-8"
       style="margin-top: 50px;">
    <app-fav-result></app-fav-result>
  </div>


</div>

<!--<app-everything></app-everything>-->
